<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="footerFragment">
        <footer id="footer">
            <ul class="copyright">
                <li>젠타이드랩스</li>
                <li>ZENTIDE LABS</li>
                <li>Copyright&copy; 2025 ZENTIDE LABS All Rights Reserved.</li>

<!--            <ul class="icons">-->
                <li><a href="https://www.instagram.com/" target="_blank" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
<!--                <li><a href="https://github.com/EllyKwon" target="_blank" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>-->
                <li><a href="https://www.naver.com" target="_blank" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </footer>
    </th:block>
</html>