<!DOCTYPE HTML>
<html lang="ko" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/layout">
<th:block layout:fragment="content">
<head>
    <title>ZENTIDE LABS : CONTACT</title>
</head>
<body class="is-preload">
    <div id="page-wrapper">
        <!-- Header -->

        <!-- Main -->
        <div id="main" class="wrapper style1">
            <div class="container" align="center">
                <header class="major">
                    <h2 style="margin:0;">CONTACT</h2>
                </header>
                <div style="background:#29292e; border-radius:100px;"><br/><br/><br/><br/>
                    <h3>메일이 정상적으로 전송되었습니다.<br/><br/>
                        순차적으로 답변드리겠습니다.</h3><br/><br/><br/><br/>

                </div><br/><br/>
                <a href="/index" class="button primary small">메인페이지로</a>
            </div>
        </div>
        <!-- Footer -->
    </div>
</body>
</th:block>
</html>