<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zentidelabs.web.mapper.FileMapper">

   <insert id="fileInsert" parameterType="FileVO">
      INSERT INTO FILE(FILE_ID, FILE_ORDER, FILE_NAME, FILE_ORIGINNAME, SIZE, PATH )
      VALUES
      (#{fileId}, #{fileOrder}, #{fileName}, #{fileOriginName}, #{size}, #{path});
   </insert>

</mapper>